<form novalidate class="form-style" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="carId" [value]="service.formData.carId" />
    <div class="form-row d-flex justify-content-around">
        <div class="form-group py-1 pt-4 col-md-5">
            <label>CAR MARK</label>
            <input 
            type="text" 
            class="form-control form-control-lg" 
            placeholder="Car brand name" 
            name="mark" 
            #mark="ngModel" 
            [(ngModel)]="service.formData.mark"
            required
            minlength="3"
            maxlength="20"
            [class.invalid]="mark.invalid && mark.touched"
            >
        </div>
        <div class="form-group py-1 pt-4 col-md-5">
            <label>CAR MODEL</label>
            <input 
            type="text" 
            class="form-control form-control-lg" 
            placeholder="Car model name" 
            name="model" 
            #model="ngModel" 
            [(ngModel)]="service.formData.model"
            required
            minlength="3"
            maxlength="20"
            [class.invalid]="model.invalid && model.touched"
            >
        </div>
    </div>
    <div class="form-row d-flex justify-content-around">
        <div class="form-group py-1 col-md-5">
            <label>PRODUCTION YEAR</label>
            <input 
            type="text" 
            class="form-control form-control-lg" 
            placeholder="Car production year" 
            name="productionDate" 
            #productionDate="ngModel" 
            [(ngModel)]="service.formData.productionDate"
            required
            minlength="4"
            maxlength="4"
            [class.invalid]="productionDate.invalid && productionDate.touched"
            >
        </div>
        <div class="form-group py-1 col-md-5">
            <label>VIN</label>
            <input 
            type="text" 
            class="form-control form-control-lg" 
            placeholder="Car VIN number" 
            name="VIN" 
            #VIN="ngModel" 
            [(ngModel)]="service.formData.VIN"
            required
            minlength="17"
            maxlength="17"
            [class.invalid]="VIN.invalid && VIN.touched"
            >
        </div>
    </div>
    <div class="form-row d-flex justify-content-around mb-4">
        <div class="form-group py-1 col-md-5">
            <label>REGISTRATION</label>
            <input 
            type="text" 
            class="form-control form-control-lg" 
            placeholder="Car registration" 
            name="carRegistration" 
            #carRegistration="ngModel" 
            [(ngModel)]="service.formData.carRegistration"
            required
            minlength="6"
            maxlength="10"
            [class.invalid]="carRegistration.invalid && carRegistration.touched"
            >
        </div>
        <div class="form-group py-1 col-md-5">
            <label>POWER</label>
            <input 
            type="text" 
            class="form-control form-control-lg" 
            placeholder="Car power" 
            name="carPower" 
            #carPower="ngModel" 
            [(ngModel)]="service.formData.carPower"
            required
            minlength="2"
            maxlength="4"
            [class.invalid]="carPower.invalid && carPower.touched"
            >
        </div>
    </div>
    <div class="form-group d-flex justify-content-around p-3 submit bg-dark">
        <button class="btn btn-secondary btn-lg btn-block col-md-6" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>
